<!DOCTYPE html>
<html lang="en">
<head>

    <title>Welcome to my website</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
<head></head>
<body>

    <p>First internet page</p>
    <span>This is where I will test out my app building skills</span>
    <h3>My name is Benny. I currently work for a major software company where I am a developer</h3>
    <script src="index.ejs"></script>
</body>
</html>